body{
  background: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: #24292e;
}
