/*.text {*/
/*  border: solid;*/
/*  border-radius: 25px;*/
/*  background-color: white;*/
/*  opacity: 0.9;*/
/*  padding-bottom: 15px;*/
/*  padding-left: 15px;*/
/*}*/

.form-field {
  position: static;
}

.homepageCarousel-div{
  width: 100%;
  height: 800px;
  margin-bottom: 8000px;
}

.carousel-image{
  width: 100%;
  height: 800px;
  object-fit: cover;
  object-position: 20% 20%;
}

.carousel-caption{
  padding: 50px 30px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(36, 41, 46, 0.8);
}
