.homepage-image {
  width: 100%;
  padding-top: 1200px;
}

.text {
  border: solid;
  border-radius: 25px;
  background-color: white;
  opacity: 0.9;
  padding-bottom: 15px;
  padding-left: 15px;
}

.form-field {
  position: static;
}