<%- include("../partials/header", { description: "About" })%>
<%- include("../partials/navbar", { active: "about" }) %>
<div class="homepage-image">
  <div class = "text">
<h1>About:</h1>
<h2>About school:</h2>
<a>The school uses modern foreign language teaching techniques, we have advanced lectors and we adhere to the principle of "Learning through play"</a>
<h2>Created by:</h2>
<ul>
  <li>Pawel Nicewicz - </li>
  <li>Michal Banaszek - <a href="https://github.com/banan541">Git</a> - <a href = "michal.banaszek@op.pl">email</a> </li>
  <li>Marcin Dunlowski - </li>
</ul>
</div>
</div>
<%- include("../partials/footer") %>