<%- include("../partials/header", { description: "Careers" })%>
<%- include("../partials/navbar", { active: "careers" }) %>

  <div class="homepage-image">
      <div class = "text">

        <h1>Carrer</h1>
        <a>If you want to join us, please contact Pawel Samolewicz</a>
        </div>
    </div>

<% include("../partials/footer") %>