<%- include("../partials/header", { description: "Contact" })%>
<%- include("../partials/navbar", { active: "contact" }) %>

  <div class="homepage-image">
        <div class = "text">
            <h1>Contact</h1>
                <lu>
                 <li>email: simple@email.com</li>
                  <li>tel: 999999999</li>
                  <li>00-000 Warszawa</li>
                  <li>ul. Angulara 10</li>
                </lu>
        </div>
</div>
<% include("../partials/footer") %>