<%- include("../partials/header", { description: "" })%>
halo halo
halo halo
halo halo
halo halo
halo halohalo halo
halo halo
halo halo
halo halo
<%- include("../partials/navbar", { active: "home" }) %>
<div class="content">
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
</div>
<%- include("../partials/footer") %>