<%- include("../partials/header", { description: "" })%>
<%- include("../partials/navbar", { active: "home" }) %>

<div class="container-fluid content">
  iaopsdifojpiasdfj
  agreoakreopkt
  <ul>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
    <li>adsdfas</li>
  </ul>
</div>

<%- include("../partials/footer") %>