<%- include("../partials/header", { description: "" })%>
<!--<p style="background-color:rgb(0, 0, 0);"> </p>-->
<div style="background-color:black; height: 20px; ",></div>
<%- include("../partials/navbar", { active: "home" }) %>
<div class="content">
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
  <div class="homepage-image"></div>

  <h1>... Uhmmm, hello?</h1>
</div>
<%- include("../partials/footer") %>