<%- include("../partials/header", { description: "" })%>
<%- include("../partials/navbar", { active: "home" }) %>

<div class="homepage-image">
</div>
<h1>... Uhmmm, hello?</h1>

<% include("../partials/footer") %>