<%- include("../partials/header", { description: "Reviews" })%>
<%- include("../partials/navbar", { active: "reviews" }) %>
<div class="content">
  <div class="homepage-image"></div>
</div>
<% include("../partials/footer") %>